/* Styles for the title */
.title {
  display: inline-block;
  text-align: center;
  font-size: 18px; /* Initial font size */
  font-weight: bold;
  border: 2px solid #3498db; /* Blue border color */
  padding: 10px;
  color: #3498db; 
}

/* Styles for the text box */
.text-box {
  display: inline-block;
  text-align: center;
  border: 2px solid #3498db; /* Blue border color */
  padding: 10px;
  font-size: 12px;
  color: #3498db; /* Blue text color */
}

/* Center the text-box for the title */
.container {
  text-align: center;
}


.variables {
  text-align: center;
  font-size: 14px;
  color: #3498db;  
}

.center {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(73, 72, 72);
  color: white;
  text-align: center;
}

/* Center the values in the table */
th {
  text-align: center;
}
td {
  text-align: center;
}

/* Center the headlines */
h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 14px;
  color: #3498db; 
}