<!doctype html>
<html>
<head>
  <title>EquiNutri</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <div class="container">
  <div class="title">
    <h1>remplissez le formulaire</h1>
  </div>
  </div>


<div class="container">
  <div class="variables">
    <h2>Veuillez renseigner les différent champs</h2>
    <form action="/profile" method="POST">
      <label for="name">Pseudo:</label>
      <input type="text" id="name" name="name" value="john doe"><br>

      <label for="poids">Poids:  </label>
      <input type="poids" id="poids" name="poids" value="82" required><br>

      <label for="taille">Taille:  </label>
      <input type="taille" id="taille" name="taille" value="1.81" required><br>

      <label for="age">Age:    </label>
      <input type="age" id="age" name="age" value="30"><br><br>

      <button type="Définir profil">Soumettre</button>
    </form>
  </div>
</div>

  <div class="container">
    <p class="text-box"> Renseignez au moins poids et taille pour continuer</p>
  </div>

</body>
</html>
