
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> <!-- Link to your external CSS file -->
</head>

<body>
  <div class="moving-letters">
    <section>
      <p>This is a paragraph of text in the body of the HTML page. You can add more content here.</p>
      <p>You can also format text using <strong>HTML tags</strong> such as <em>italic</em>, <u>underline</u>, etc.</p>
    </section>
  </div >
  
    <p class="spinning-letters">In this paragraph of text in the body of the HTML page. We can change the style.</p>


  <footer>
    <p>&copy; 2024 Test de Rémi. All rights reserved.</p>
  </footer>

</body>
</html>
